[Unit]
Description=Smartedge-iiot-gateway factory default service

[Service]
Type=simple
ExecStart=/opt/avnet-iot/iotservices/boot

[Install]
WantedBy=default.target
