[Unit]
Description=Smartedge-iiot-gateway hardware watchdog disable

[Service]
Type=simple
ExecStart=/opt/avnet-iot/iotservices/stopwd
ExecStop=/bin/true

[Install]
WantedBy=default.target
